@page "/productos"
@inject IRepository repository
<h3>Productos</h3>


<GenericList MyList="Productos">
    <Body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Tipo</th>
                <th>Detalles</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Productos!)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger">Borrar</button>
                    </td>
                    <td>
                        @producto.Name
                    </td>
                    <td>
                        @producto.tipo
                    </td>
                    <td>
                        @producto.Detalle
                    </td>
                    </tr>
               
            
            }
        </tbody>
    </table>
    </Body>
</GenericList>



@code {
    public List<Producto>? Productos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var ResponseHttp = await repository.Get<List<Producto>>("/api/productos");
        Productos = ResponseHttp.Response;
    }
}

